<header id="header">
  <div class="head_up">
    <div class="row clearfix">
      <div class="l_ht">
        <span><i class="fa fa-mobile"></i>(001) 85 74 855</span>
        <span><i class="fa fa-map-marker"></i>Elizabeth St, Melbourne VIC 2222, USA ‎</span>
      </div><!-- end text left -->

      <div class="r_ht">
        <div class="shopping_bag">
          <div class="header_bag">
            <a href="shop-shopping-bag.html"><i class="icon_bag_alt"></i><span>2 item(s) / $110.00</span></a>
          </div>

          <div class="view_cart_mini">
            <div class="view_cart">
              <ul class="cart_list">
                <li class="clearfix">
                  <a href="shop-single-product.html"><%= image_tag('shop/bag1.jpg', width: '50', class: 'fll')%></a>
                  <div class="cart_list_product_title">
                    <a href="shop-single-product.html">SOLID WOMEN'S TOP 2013</a>
                    <div class="cart_list_product_quantity">Quantity: 2 / <a href="#" class="toptip" title="Remove this item">Remove</a></div>
                  </div>
                </li>
                                  </ul>

              <span class="total_checkout fll">Cart subtotal</span>
              <span class="amount_total flr">$275.00</span>
              <div class="tac">
                <a href="#" class="tbutton mt small"><span><%= I18n.t("view.home.shop_bag")%></span></a>
                <a href="#" class="tbutton mt small"><span><i class="icon_cart_alt mi"></i>Checkout</span></a>
              </div>
            </div>
          </div>
        </div><!-- end Shopping Cart -->
        <div class="languages">
          <%= link_to :locale=>'en' do %>
            <span>EN</span>
          <% end -%>
          <div class="other_languages">
            <%= link_to :locale=>'vn' do %>
              <span>VN</span>
            <% end -%>
          </div><!-- end other -->
        </div><!-- end languages -->

        <div class="social social_head">
          <a href="#" class="bottomtip" title="Twitter"><i class="fa-twitter"></i></a>
          <a href="#" class="bottomtip" title="Facebook"><i class="fa-facebook"></i></a>
          <a href="#" class="bottomtip" title="Dribbble"><i class="fa-dribbble"></i></a>
          <a href="#" class="bottomtip" title="Pinterest"><i class="fa-pinterest"></i></a>
          <a href="#" class="bottomtip" title="RSS"><i class="fa-rss"></i></a>
          <a href="#" class="bottomtip" title="Youtube"><i class="fa-youtube"></i></a>
          <a href="#" class="bottomtip" title="SoundCloud"><i class="fa-cloud"></i></a>
          <a href="#" class="bottomtip" title="Flickr"><i class="fa-flickr"></i></a>
        </div><!-- end social -->
      </div><!-- end social and bag -->
    </div><!-- row -->
  </div><!-- head -->

  <div class="headdown">
    <div class="row clearfix">
      <div class="logo">
        <a href="index.html" title="inCreate Responsive Multipurpose HTML5 Template"><%= image_tag('logo.png', alt: "inCreate Responsive Multipurpose HTML5")%></a>
      </div>

      <div class="search">
        <div class="search_icon"><i class="fa fa-search"></i></div>
        <div class="s_form">
          <form action="search_result.html" id="search" method="get">
            <input id="inputhead" name="search" type="text" onfocus="if (this.value=='Start Searching...') this.value = '';" onblur="if (this.value=='') this.value = 'Start Searching...';" value="Start Searching..." placeholder="Start Searching ...">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form><!-- end form -->
        </div>
      </div>

      <nav>
        <ul class="sf-menu">
          <li class="current"><a href="index.html"><%= I18n.t("view.home.menu.home")%></a></li>
          <li><a href="shop.html"><%= I18n.t("view.home.menu.shop")%></a></li>
          <li><a href="portfolio4.html"><%= I18n.t("view.home.menu.about")%></a></li>
          <li><a href="blog.html"><%= I18n.t("view.home.menu.contact")%></a></li>
          <li><a href="contact.html"><%= I18n.t("view.home.menu.recruit")%></a></li>
        </ul><!-- end menu -->
      </nav><!-- end nav -->
    </div><!-- row -->
  </div><!-- headdown -->
</header><!-- end header -->
